@charset "utf-8";
/* CSS Document */

#framefooter{
	width: 100%;
	height: 40px;
	border-top: 1px solid #CCCCCC;
	font-family:tahoma;
	color:#666666;
	font-size:12px;
}

span.framefooterleft{
	float: left;
	width: 45%;
	margin-left: 5px;
}

span.framefooterright{
	float: right;
	width: 50%;
	margin-right: 5px;
	text-align:right;
}

/****Floating page footer****/
/*******#footer{
	background-color:#FFFFFF;
	width: 100%;
	position: fixed;
	clear: both;
	bottom: 0;
    height: 25px;
	margin-left: -10px;
	padding-right: 5px;
	padding-top: 5px;
	font-family:tahoma;
	font-size:12px;
	font-weight:bold;
	color: #0066FF;
	}

.footerright{
	float:right;
	text-align:right;
	margin-right:20px;
	width:40%;
	padding-left: 2px;
}

.footerleft{
	float: left;
	text-align:left;
	margin-left:10px;
	padding-left:5px;
	width:auto;
	}
	
a.footerlink, a.footerlink:visited{
	font-size:14px;
	text-decoration:none;
	color:#0000FF;
	font-weight:bold;
	font-family:"Times New Roman", Times, serif;
	}
a.footerlink:hover{
	text-decoration:underline;
	color:#0099FF;
	font-weight:bold;
	}
	
	****/